/*----navbar---*/

.navalert-container {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
}

.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 50)
}

.media-main {

    height: 75vh;

    background: url('https://cdn.pixabay.com/photo/2018/07/09/16/13/chess-3526451_960_720.jpg') no-repeat center center ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

/*----Jumbotron---*/


.jumbotron {
    background-color: transparent;
}

